<!DOCTYPE html>
<html>
    <head>

        <style>
            h2{
                font-size: 50px;
                color: red;
            }
            p{
                font-size: 20px;
                font-style: italic;
                font-weight: bolder;
            }
        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body style="background-color: rgb(240, 228, 212);">
    
        <div class="container">
        <center>

        <h2>Hello Welcome to Django Classes</h2>
        <p>
            The web framework for perfectionists with deadlines.
        </p>
        <hr>
        <i>Django makes it easier to build better Web apps more quickly and with less code.</i>
        
        <div>
             <form>
        <br><br>
        <input type="text" name="name" placeholder="Enter Your Name">
        <br><br>
        <input type="password" password="password" placeholder="Enter Your Password">
        <br><br>
        <input type="submit" placeholder="Continue">
            </form>
       </div>

        <!--<iframe src="sivamatsa.github.io"></iframe> -->


    </center>
    </div>
    </body>
</html>